.taskItem {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  margin-top: 8px;
  min-height: 52px;
  
}

.taskItem button {
  text-align: left;
  flex: 1 1 0px;
   background: none;
  width: 100%;
  height: 100%;
  border: none;
  box-shadow: none;
  font-size: 1.4rem;
}