.rootPage {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.content {
  display: flex;
  flex-direction: row;
  flex: 1;
  background-color: #faf9f8;
}

.outlet {
  display: flex;
  flex-direction: column;
  flex: 1;
}