ul {
  list-style: none;
}

.sidebar {
  display: inline-block;
  background-color: antiquewhite;
  width: 15%;
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
}


footer {
  display: flex;
  justify-content: space-around;
}