@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  :root {
    --color-white: #ffffff;
    --color-black: #000000;
    --color-ms-text-dark: #292827;
    --color-ms-blue: #2564cf;
    --color-ms-blue-hover: #215aba;
    --color-ms-background: #faf9f8;
    --color-ms-white-hover: #f5f4f4;
    --color-ms-font-blue: #2564cf;
    --color-ms-active-blue: #eff6fc;
    --color-ms-bg-border: #e1dfdd;
    --color-ms-scrollbar: #8a8886;
    --color-ms-light-text: #605E5C;
    --color-ms-input-hover: #edebe9;
    --color-ms-active-tertiary: #f3f2f1;
    --color-ms-warning: #a80000;
    --color-ms-button-hover: #E1DFDD
  }
  @media (prefers-color-scheme:dark) {
    :root {
      --color-white: #252423;
      --color-black: #ffffff;
      --color-ms-text-dark: #f5f4f4;
      --color-ms-blue: #78BAFD;
      --color-ms-blue-hover: #78BAFD;
      --color-ms-background: #11100f;
      --color-ms-white-hover: #292827;
      --color-ms-font-blue: #78BAFD;
      --color-ms-active-blue: #3b3a39;
      --color-ms-bg-border: #e1dfdd;
      --color-ms-scrollbar: #8a8886;
      --color-ms-light-text: #A19F9D;
      --color-ms-input-hover: #edebe9;
      --color-ms-active-tertiary: #292827;
      --color-ms-warning: #F1707B;
      --color-ms-button-hover: #E1DFDD
    }
  }
}

/**

#323130
#11100f
#292827
#e1dfdd
#8a8886
#605E5C
#edebe9
#f3f2f1

*/


*,*:focus{
  outline:none;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: "Segoe", "Segoe UI", "Arial", "sans-serif";
  font-size: 14px;
  overflow: hidden;
  cursor: default;
  user-select: none;
}

body #root {
  height: 100%;
}

input,
textarea {
  width: 100%;
  display: block;
}

::-webkit-scrollbar {
  width: 8px;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #A19F9D;
  border-radius: 10px;
}





.react-datepicker{
 display: flex;
 flex-direction: column;
 font-family: "Segoe", "Segoe UI", "Arial", "sans-serif";
 font-size: 1em;
 border-radius: 0;
 border: none;
}

.react-datepicker__header {
  padding-top: 0.8em;
  background-color: white;
  border-bottom: none;
}

.react-datepicker__month {
  font-size: small;
  font-weight: 400;
  margin-top: 0;
}

.react-datepicker__day{
  margin:0;
}
.react-datepicker__day--selected {
  background-color: #f5f4f4;
  color: black;
  border-radius: 0;
  /* padding: 1px 1px; */
}
.react-datepicker__day--today {
  background-color: #2564cf;
  color:white;
  font-weight: 400;
}

.react-datepicker__day--today:hover {
  background-color: #2564cf;
  color:white;
  font-weight: 400;
  border-radius: 0;
}

.react-datepicker__month-container {
  padding-bottom: 20px;
}

.react-datepicker__day--keyboard-selected {
  background-color: #f5f4f4;
  color: black;
  border-radius: 0;
}

.react-datepicker__day--outside-month {
  color: #A19F9D;
}

.react-datepicker__day--selected:hover {
  background-color: #f5f4f4;
  border-radius: 0;
}

.react-datepicker__day--selected.react-datepicker__day--today:hover {
  background-color: #2564cf;
}

.react-datepicker__day-names {
  font-size: small;
}

.react-datepicker__day-name{
  width: 1.6em;
  line-height: 1.6em;
}

.react-datepicker__current-month {
  font-size: 1em;
}
.react-datepicker__navigation {
  top: 1em;
  line-height: 1.7em;
  border: 0.45em solid transparent;
}
.react-datepicker__navigation--previous {
  border-right-color: #ccc;
  left: 1em;
}
.react-datepicker__navigation--next {
  border-left-color: #ccc;
  right: 1em;
}

.react-datepicker__input-time-container .react-datepicker-time__caption {
  display: none;
}

.react-datepicker__input-time-container {
  display: flex;
  align-items: center;
  padding-left: 0.5em;
  margin-top: 0;
  margin-bottom: 0.5em;
}

.react-datepicker-time__input-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.react-datepicker__input-time-container .react-datepicker-time__input-container .react-datepicker-time__input {
  margin-left: 0;
}

.react-datepicker__children-container {
  margin-bottom: 0.4rem;
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
  padding-right: 0;
}






/* input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
} */

/* Firefox */
/* input[type=number] {
  -moz-appearance: textfield;
} */
