@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: "Segoe","Segoe UI","Arial","sans-serif";
  font-size: 14px;
  overflow: hidden;
  cursor: default;
  user-select: none;
}

body #root {
  height: 100%;
}

input,textarea{width:100%;display:block}