@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-white-text: #ffffff;
    --color-white: #ffffff;
    --color-black: #000000;
    --color-ms-text-dark: #292827;
    --color-ms-header: #2564cf;
    --color-ms-blue: #2564cf;
    --color-ms-blue-hover: #215aba;
    --color-ms-background: #faf9f8;
    --color-ms-white-hover: #f5f4f4;
    --color-ms-font-blue: #2564cf;
    --color-ms-active-blue: #eff6fc;
    --color-ms-bg-border: #e1dfdd;
    --color-ms-scrollbar: #8a8886;
    --color-ms-light-text: #605e5c;
    --color-ms-input-hover: #edebe9;
    --color-ms-active-tertiary: #f3f2f1;
    --color-ms-warning: #a80000;
    --color-ms-button-hover: #e1dfdd;
    --color-ms-white-button-hover: #e6e6e6;
    --color-ms-gray-button-hover: #ccc;
    --color-ms-alert-error: #e81123;
  }
  @media (prefers-color-scheme: dark) {
    :root {
      --color-white-text: #ffffff;
      --color-white: #252423;
      --color-black: #ffffff;
      --color-ms-text-dark: #f5f4f4;
      --color-ms-header: #11100f;
      --color-ms-blue: #78bafd;
      --color-ms-blue-hover: #78bafd;
      --color-ms-background: #11100f;
      --color-ms-white-hover: #292827;
      --color-ms-font-blue: #78bafd;
      --color-ms-active-blue: #3b3a39;
      --color-ms-bg-border: #e1dfdd;
      --color-ms-scrollbar: #8a8886;
      --color-ms-light-text: #a19f9d;
      --color-ms-input-hover: #edebe9;
      --color-ms-active-tertiary: #292827;
      --color-ms-warning: #f1707b;
      --color-ms-button-hover: #e1dfdd;
      --color-ms-gray-button-hover: #ccc;
      --color-ms-alert-error: #e81123;
    }
  }
  :root[data-theme="dark"] {
    --color-white-text: #ffffff;
    --color-white: #252423;
    --color-black: #ffffff;
    --color-ms-text-dark: #f5f4f4;
    --color-ms-header: #11100f;
    --color-ms-blue: #78bafd;
    --color-ms-blue-hover: #78bafd;
    --color-ms-background: #11100f;
    --color-ms-white-hover: #292827;
    --color-ms-font-blue: #78bafd;
    --color-ms-active-blue: #3b3a39;
    --color-ms-bg-border: #e1dfdd;
    --color-ms-scrollbar: #8a8886;
    --color-ms-light-text: #a19f9d;
    --color-ms-input-hover: #edebe9;
    --color-ms-active-tertiary: #292827;
    --color-ms-warning: #f1707b;
    --color-ms-button-hover: #e1dfdd;
    --color-ms-white-button-hover: #e6e6e6;
    --color-ms-gray-button-hover: #ccc;
    --color-ms-alert-error: #e81123;
  }
  :root[data-theme="light"] {
    --color-white-text: #ffffff;
    --color-white: #ffffff;
    --color-black: #000000;
    --color-ms-text-dark: #292827;
    --color-ms-header: #2564cf;
    --color-ms-blue: #2564cf;
    --color-ms-blue-hover: #215aba;
    --color-ms-background: #faf9f8;
    --color-ms-white-hover: #f5f4f4;
    --color-ms-font-blue: #2564cf;
    --color-ms-active-blue: #eff6fc;
    --color-ms-bg-border: #e1dfdd;
    --color-ms-scrollbar: #8a8886;
    --color-ms-light-text: #605e5c;
    --color-ms-input-hover: #edebe9;
    --color-ms-active-tertiary: #f3f2f1;
    --color-ms-warning: #a80000;
    --color-ms-button-hover: #e1dfdd;
    --color-ms-white-button-hover: #e6e6e6;
    --color-ms-gray-button-hover: #ccc;
    --color-ms-alert-error: #e81123;
  }
}

*,
*:focus {
  outline: none;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: "Segoe", "Segoe UI", "Arial", "sans-serif";
  font-size: 14px;
  overflow: hidden;
  cursor: default;
  user-select: none;
}

body #root {
  height: 100%;
}

input,
textarea {
  width: 100%;
  display: block;
}

::-webkit-scrollbar {
  width: 8px;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #a19f9d;
  border-radius: 10px;
}

.AddTaskButtons::-webkit-scrollbar {
  display: none;
}

.ReactDatePickerWrapper .react-datepicker {
  display: flex;
  flex-direction: column;
  font-family: "Segoe", "Segoe UI", "Arial", "sans-serif";
  font-size: 1em;
  border-radius: 0;
  border: none;
  background-color: var(--color-white);
  color: var(--color-black);
}

.ReactDatePickerWrapper .react-datepicker .react-datepicker__header {
  padding-top: 0.8em; 
  background-color: var(--color-white) ;
  border-bottom: none ;
}

.ReactDatePickerWrapper .react-datepicker__month {
  font-size: small;
  font-weight: 400;
  margin-top: 0;
}

.ReactDatePickerWrapper .react-datepicker__day {
  color: var(--color-black);
  margin: 0;
}
.ReactDatePickerWrapper .react-datepicker__day-name {
  color: var(--color-black);
}
.ReactDatePickerWrapper .react-datepicker__day--selected {
  background-color: var(--color-ms-bg-border);
  color: var(--color-black);
  border-radius: 0;
  /* padding: 1px 1px; */
}
.ReactDatePickerWrapper .react-datepicker__day--today {
  background-color: var(--color-ms-blue);
  color: var(--color-white);
  font-weight: 400;
}

.ReactDatePickerWrapper .react-datepicker__day--today:hover {
  background-color: var(--color-ms-blue);
  color: var(--color-white);
  font-weight: 400;
  border-radius: 0;
}

.ReactDatePickerWrapper .react-datepicker__month-container {
  padding-bottom: 20px;
}

.ReactDatePickerWrapper .react-datepicker__day--keyboard-selected {
  background-color: var(--color-ms-scrollbar);
  color: var(--color-black);
  border-radius: 0;
}

.ReactDatePickerWrapper .react-datepicker__day--keyboard-selected:hover {
  background-color: var(--color-ms-scrollbar);
}

.ReactDatePickerWrapper .react-datepicker__day--outside-month {
  color: var(--color-ms-light-text);
}

.ReactDatePickerWrapper .react-datepicker__day--selected:hover {
  background-color: var(--color-ms-bg-border);
  border-radius: 0;
}

.ReactDatePickerWrapper .react-datepicker__day--selected.react-datepicker__day--today:hover {
  background-color: var(--color-ms-blue);
}

.ReactDatePickerWrapper .react-datepicker__day-names {
  font-size: small;
}

.ReactDatePickerWrapper .react-datepicker__day-name {
  width: 1.6em;
  line-height: 1.6em;
}

.ReactDatePickerWrapper .react-datepicker__current-month {
  font-size: 1em;
}
.ReactDatePickerWrapper .react-datepicker__navigation {
  top: 1em;
  line-height: 1.7em;
  border: 0.45em solid transparent;
}
.ReactDatePickerWrapper .react-datepicker__navigation--previous {
  border-right-color: #ccc;
  left: 1em;
}
.ReactDatePickerWrapper .react-datepicker__navigation--next {
  border-left-color: #ccc;
  right: 1em;
}

.ReactDatePickerWrapper .react-datepicker .react-datepicker__input-time-container .react-datepicker-time__caption {
  display: none ;
}

.ReactDatePickerWrapper .react-datepicker__input-time-container {
  display: flex;
  align-items: center;
  padding-left: 0.5em;
  margin-top: 0;
  margin-bottom: 0.5em;
}

.ReactDatePickerWrapper .react-datepicker-time__input-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.ReactDatePickerWrapper .react-datepicker__input-time-container
  .react-datepicker-time__input-container
  .react-datepicker-time__input {
  margin-left: 0;
}

.ReactDatePickerWrapper .react-datepicker__children-container {
  margin-bottom: 0.4rem;
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
  padding-right: 0;
}

/* input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
} */

/* Firefox */
/* input[type=number] {
  -moz-appearance: textfield;
} */
