@tailwind base;
@tailwind components;
@tailwind utilities;


*,*:focus{
  outline:none;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: "Segoe", "Segoe UI", "Arial", "sans-serif";
  font-size: 14px;
  overflow: hidden;
  cursor: default;
  user-select: none;
}

body #root {
  height: 100%;
}

input,
textarea {
  width: 100%;
  display: block;
}

::-webkit-scrollbar {
  width: 8px;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #A19F9D;
  border-radius: 10px;
}
